* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f10;
    color: white;
    font-family: 'Poppins', sans-serif;
}


/* HEAD */

.headerimage:hover{
    cursor: pointer;
}
nav {
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
}

nav div {
    display: flex;
    gap: 4vw;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

nav div ul {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.headerimage {
    height: 5vh;
}

.headerbutton {
    padding: 1vh 2.2vw;
    background-color: #1e1e21;
    color: white;
    border: none;
    border-left: 3px solid #484849;
    border-top: 3px solid #484849;
    border-radius: 7px;
}
.headerbutton:hover{
    cursor: pointer;
}
/* HEAD  */

/* MAIN  */

/* SECTION 1 */

.one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftimg {
    position: relative;
    top: -11vh;
    height: 65vh;


}

.left {
    width: 20%;

}

.right {}

.rightbutton {
    margin-top: 1.5vh;
    position: absolute;
    font-size: 1em;
    border: none;
    border-radius: 7px;
    background-color: #1e1e21;
    color: white;
    padding: 1vh 2vw;
    padding-bottom: 1.5vh;

}

.rightbutton:hover {
    cursor: pointer;
    border: 1px solid white;

}

.rightdiv1 {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.rightimg {
    margin-left: 3vw;
}

.righth1 {
    font-size: 3em;
}

/* SECTION 1 */

/* SECTION 2 */
.two {
    display: flex;
    justify-content: space-evenly;
    margin: 10vh 5vw;


}



/* SECTION 2 */


/* SECTION 3 */
.threespecs{
    margin: 5vh 0vw 3vh 0vw;
}
.three {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.threemain {
    display: flex;
    width: 54%;
}

.threemainleft {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4vh;

}
.threediv1{
    margin-left: 3.5vw;
}


/* SECTION 3 */

/* SECTION 4 */


.four {
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four1img{
    margin: 6vh;
}
.fourmain {
    display: flex;
}

.fourmainrightbutton {
   
    background-color: #1e1e21;
    color: white;
    display: flex;
    align-items: center;
    gap: 7px;
    width: 8vw;
    padding: 1.5vh 1vw;
    border: none;
    border-radius: 7px;
    cursor: pointer;
   
}

.fourmainright {
    margin-left: 6vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}




/* SECTION 4 */


/* SECTION 5 */

.five {
    background-color: #181a1b;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    padding: 3vh;
    margin: auto;

}


.fivemain {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fiveleft {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-right:5vw;
}

.fiveleftbutton {
    background-color: #1e1e21;
    color: white;
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 8vw;
    padding: 1.5vh 1vw;
    border: none;
    border-radius: 7px;

}
.fiveleftbutton:hover{
    cursor: pointer;
}





/* SECTION 5 */


/* SECTION 6 */
.six {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.six1div{
    margin: 10vh;
}

.sixmain {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 15vh;
    grid-column-gap: 1vw;
}

.sixmaindiv {
     position: relative;
   
    bottom: 26vh;
    display: flex;
    justify-content: space-around;
}
.sixmain1{
    border-radius: 15px;
    background-color: #1e1e21;
    height: 27vh;
    width: 12vw;
}
.sixicon{
    background-color: black;
    padding: 1vh;
     position: relative;
    height: 4vh;
    top: 1.5vh;
    border-radius: 8px;
}
.sixicon:hover{
    cursor: pointer;
}
.siximage{
   position: relative;
  bottom: 20vh;
  right: 2vw;
  scale: 0.5;
}
.p1{
    position: relative;
}



/* SECTION 6 */



/* MAIN */

/* FOOTER */
.first:hover{
    cursor: pointer;
}

footer{
    margin-top: 16vh;
}

.footersection {
    display: flex;
    justify-content: space-around;
}

.thirddiv {
    margin-top: 3vh;
}

.seconddiv {
    margin-top: 3vh;
}

.h4 {
    font-size: 2em;

}

.secondul {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.thirdul {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.fourth {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.fourthul {
    gap: 1.5vw;
    display: flex;

}

.fourthinput {
    border: none;
    background-color: #1e1e21;
    color: white;
    height: 6vh;
    width: 16vw;
    border-radius: 7px;
}


.fourthbutton {
     display: flex;
    font-weight: 700;
    background-color: black;
    color: white;
     padding: 1vh  ;
     /* padding-left: 2.5vw; */
    position: relative;
   left: 6.7vw;
    width: 9vw;
    bottom: 5.1vh;
    justify-content: space-around;
    border: none;
    border-radius: 5px;
}
.fourthbutton:hover{
    cursor: pointer;
}
.fifth{
    position: relative;
    left: 2vw;
}
.fifth:hover{
    cursor: pointer;
}